@font-face {
font-family: "ArialRegular";
src: url("../font/ArialRegular/ArialRegular.eot"),
url("../font/ArialRegular/ArialRegular.woff") format("woff"),
url("../font/ArialRegular/ArialRegular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

/* font-family: "AaarghBold"; */
@font-face {
font-family: "ArialBold";
src: url("../font/ArialBold/ArialBold.eot"),
url("../font/ArialBold/ArialBold.woff") format("woff"),
url("../font/ArialBold/ArialBold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

body{
	margin:0;
	padding:0;
	background: url("../img/fon.jpg") no-repeat center fixed;
	background-size: cover;
	font-family: "ArialRegular";
	font-size: 14px;
}

html, body {
	font-size: 14px;
}

a{
	outline: none;
	text-decoration: none;
}

img{
	border: none;
	outline: none;
}

ul{
	list-style: none;
}

.wrapper {
	background-color: #ffffff;
	max-width: 78%;
	margin: 70px auto;
	padding: 0 35px;
	border-radius: 5px;
	box-shadow: 0 10px 15px -10px #7d7979cc inset, 0 0 3px 6px #6946205e;
	color: #b8b8b8;
}

header, .menu, .content {
	border-bottom: 1px solid #b8b8b8;
	box-sizing: border-box;	
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

						/*Стили header*/

.logo_wrapper {
	float: left;
	width: 50%;
	margin: 32px 0;
}

.logo_wrapper img {
	margin-right: 10px;
} 

nav {
	float: right;
	width: 50%;
}

nav ul{
	margin: 37.5px 0;
	font-size: 0;
}

nav li{
	min-width: 20%;
	display: inline-block;
}

nav a {
	color: #b8b8b8;	
	font-size: 1.1rem;
	line-height: 30px;
	transition: all 0.5s ease;
}
nav a:hover {
	color: #8a6540;
}

nav .menu_toggle, .menu_toggle_box{
	cursor: pointer;
	display: none;
	line-height: 50px;
	text-align: center;
}

@media screen and (max-width: 1350px) {
	.logo_wrapper {
		float: none;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		padding-top: 25px;
	}
	nav {
		float: none;
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	
	nav li:last-child {
		margin-right: 0;
	}
}

@media screen and (max-width: 650px) {
	.wrapper {
		margin: 15px auto;
	}
	.logo_wrapper {
		margin-top: 0;
	}
	nav {
		position: relative;	
		width: 35%;
	}
	nav .menuList {
		padding: 0;
		width: 100%;
		position: absolute;
		top: 0px;
		display: none;
		background-color: #fff;
		border: 1px  solid #b8b8b8;
		border-radius: 5px;
		box-sizing: border-box;
	}
	.menu_toggle{
		color:#8c6641;
	}
	.menuList li {
		padding: 7px 0;
	}
	.menu_toggle_box:checked ~ .menuList{
		display: block;
	}
	nav .menu_toggle, nav ul li {
		display: block;
	}
	.menuList li a:hover {
		display: block;
		background-color: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
	}
}
 
					/*Стили menu*/	

.menu {
	font-size: 1.1rem;
	line-height: 30px;
	letter-spacing: 1.2px;
	padding: 20px 0;
	box-sizing: border-box;
}

.menu_wrapper span{
	font-family: "ArialBold";
	color: #8c6641;
}
@media screen and (max-width: 650px) {
	.menu {
		font-size: 1rem;
	}
}

							/*Стили content*/	

main {
	width: 69%;
	float: left;
	font-size: 0;
	margin-right: 25px;
}

.wrapper_item {
	margin:10px -15px;
}

.wrapper_item .new_article {
	margin: 15px;
	width:calc(50% - 30px);
	display: inline-block;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
}

.wrapper_img {
	max-width: 360px;
	border: 1px solid #b8b8b8;
	border-radius: 5px;
}

.wrapper_img img {
	width: 98%;
	margin:4px;
	cursor: pointer;
	box-sizing: border-box;
}

.article_section, .annotation {
	padding-top: 10px;
	line-height: 1.5;
} 
.article_section {
	font-size: 1.2rem;
	color: #939393;
}

				/*Стили aside*/

aside {
	overflow: hidden;
}

.adress{
	background-color: rgba(210, 203, 203, 0.75);
	position: relative;
}

.wrapper_adres .adress {
	margin-top: 25px;
	width: calc(100% - 40px);
	border: 1px solid #b6b6b6;
	border-radius: 5px;
	opacity: 0.8;
	padding: 20px;
	font-size: 0.9rem;
	color: #404040;
	box-sizing: border-box;
}

.adress img {
	position: absolute;
	bottom: -20px;
	right: 35px;
}

.wrapper_adress_twitty {
	margin-top: 10px;
}

.wrapper_adress_twitty .adress_twitty {
	color: #939393;
	float: left;
	width: calc(100% - 35px);
	text-align: right;
	padding: 13px 10px 13px 0;
	box-sizing: border-box;
}

.adress_twitty_img{
	overflow:hidden;
	text-align: right;
}
.wrapper_navigation {
	margin-top: 25px;
}

.wrapper_navigation ul {
	padding-left: 20px;
	margin: 0 -15px;
}

.wrapper_navigation li {
	border-top: 1px  solid #b8b8b8;
}

.wrapper_navigation li:last-child {
	border-bottom: 1px  solid #b8b8b8;
}

.wrapper_navigation li a{
	list-style-type:none;
	display: block;
	color: #939393;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0.12px;
	padding: 3px 0 3px 15px;
}

.wrapper_navigation li a:hover {
	display: block;
		background-color: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
	}


aside h3 {
	color: #404040 ;
	font-size: 1rem;
	padding-left: 20px;
	margin-bottom: 20px;
}

.wrapper_contact {
	margin: 45px 0 35px 0;
}
.wrapper_contact p{
	color: #939393;
	font-size: 0.9rem;
	font-weight: 400;
	padding-left: 20px;
	margin-top: 15px;
	cursor: pointer;
}

@media screen and (max-width: 1320px) {
	main{
		float: none;
		width: 100%;
		margin: 0;
	}
	.wrapper_item {
		max-width: 750px;
		margin: 0 auto;
	}
	aside {
		max-width: 75%;
		margin: 0 auto;
	}
	.wrapper_contact {
		margin-bottom: 30px;
		text-align: center;
	}
	.wrapper_contact p, .wrapper_contact h3 {
		padding: 0;
	}
	.wrapper_adres .adress {
	margin-top: 10px;
	}
	.wrapper_navigation {
		margin-top: 25px;
	}
	.wrapper_navigation h3 {
		text-align: center;
	}
}

@media screen and (max-width: 870px) {
	.wrapper_item {
		max-width: 350px;
		margin: 0 auto;
	}
	.wrapper_item .new_article {
		width: 100%;
		margin: 20px auto;
		padding:0;
	}
}
@media screen and (max-width: 650px) {
	.wrapper_adres .adress{
		width: 100%;
	}/*
	.adress img {
		right: 75px;
	}*/
}

							/*Стили button*/

.wrapper_button	button {
	width: 94px;
	height: 30px;
	border: 1px solid #628727;
	color: #eef3e4;
	font-size: 1rem;
	background-image: linear-gradient(to top, #6b9a2c 0%, #99b73f 100%);
	border-radius: 5px;
	cursor: pointer;
	outline: 0;
	background-color: #939393;
	text-align: center;
	margin: 5px 0 25px 25px;
	float: right;
	transition: .2s;
	padding: 3px;
}	

.wrapper_button	button:active {
	box-shadow: 5px 5px 15px rgba(0,0,0,.6) inset ;
}

@media screen and (max-width: 1320px) {
	.wrapper_button	button {
		float: none;
		display: block;
		margin: 20px auto;
	}
}


			/*Стили footer*/

.footer_left {
	float:left;
	width: 50%;
	padding: 30px 0;
}
.footer_right {
	overflow: hidden;
}
.wrapper_footer span {
	color: #bdbdbd;
	font-size: 0.9rem;
	line-height: 24px;
}

 .wrapper_flicker_footer {
 	float: left;
 }

.wrapper_twitter_footer {
	float: right;
}

.wrapper_flicker_footer,.wrapper_twitter_footer {
	margin: 20px 0;
	box-sizing: border-box;
}

.wrapper_flicker_footer img, .wrapper_twitter_footer img{
	vertical-align: middle;
	margin-right: 20px;
}

@media screen and (max-width: 1250px) {
	.footer_left{
		float: none;
		width: 100%;
		text-align: center;
	}
	.footer_right {
		max-width: 490px;
		margin: 0 auto;
	}
	.wrapper_flicker_footer,.wrapper_twitter_footer {
		margin: 0 0 25px 0;
	}
}
@media screen and (max-width: 580px) {
	html {
		font-size: 15px;
	}
	.wrapper_flicker_footer,.wrapper_twitter_footer {
		float: none;
		width: 100%;
		margin: 10px auto;
		text-align: center;
	}
	.wrapper_twitter_footer {
		margin: 30px 0;
	}
}